[user]
	name = Tomer Keren
	email = tomer.keren.dev@gmail.com
[diff]
	tool = vimdiff
[log]
    stat=true
[difftool]
	prompt = false
[mergetool "vscode"] # Actually used as a difftool. use by adding --tool=vscode
    cmd = code --wait --diff $LOCAL $REMOTE
[alias]
    l = log
    ch = checkout
    master = checkout master
    prep = submodule update --init --recursive
    start = commit --allow-empty -m ':tada: Initial commit'
    open = browse
[core]
#	hookspath = /Users/tomer/.git-hooks #FIXME: makes a **single** set of hooks for everybody, not a good idea because it overrides local ones
[core]
	excludesfile = ~/.gitignore_global
[status]
	short = true
	branch = true
[url "git@github.com:"]
    insteadOf = gh:
    insteadOf = github:
[url "git@gitlab.com:"]
    insteadOf = gl:
    insteadOf = gitlab:
[fetch]
    prune=true
[push]
# Push by default to the tracked remote branch, not the branch that is named the same (useful for PRs)
	default = upstream 

[core]
    pager = delta --theme='Solarized (dark)'

[interactive]
    diffFilter = delta --color-only
