# This is Git's per-user configuration file.
[user]
	name = Tomer Keren
	email = tomer.keren.dev@gmail.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
    s = status
    a = add
    c = commit
    m = merge
    l = log
[core]
#	hookspath = /Users/tomer/.git-hooks #FIXME: makes a **single** set of hooks for everybody, not a good idea because it overrides local ones
[commit]
	template = ~/.git_commit_msg.txt
[core]
	excludesfile = ~/.gitignore_global
[status]
	short = true
	branch = true
[url "git@github.com:"]
    insteadOf = github:
[url "git@gitlab.com:"]
    insteadOf = gitlab:
